<!DOCTYPE html>
<html>
	<head>
		<title>HTG-NYT</title>

		<%- include("partials/head"); %>
		<link rel="stylesheet" href="/static/css/front-page.css">
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

		<%- include("partials/top-bar", {site: "main"}); %>
		
		<%- include("partials/side-menu"); %>

		<div id="content" class="thin">
			<section>
				<div class="header">
					<h1>Alt nyt på HTG</h1>
					<div class="search">
						<span>Søg efter artikel:</span>
						<input>
					</div>
				</div>

				<div class="article-list">
					<% for (let article of articles) { -%>
						<a class="article listed" href="https://www.google.com/">
							<img class="thumbnail" src="<%= articles[0].thumbnail %>">
							<div class="info">
								<h2 class="type"><%= article.tags[0] %></h2>
								<h2 class="rubrik"><%= article.headline %></h2>
								<p class="underrubrik"><%= article.subheadline %></p>
								<% if (article.author) { -%>
									<span class="skribent">
										<% let authorNames = article.author.split(" "); -%>
										<%= authorNames[0] + " " + authorNames.slice(1, -1).map(n => n[0].toUpperCase() + ".").join(" ") + " " + authorNames[authorNames.length - 1] %>
										<img src="https://inspir.dk/uploads/user/71526e46-aee8-11ee-815a-91f78ec10b0b/avatar-703e2fe8-b192-11ee-b713-43edb6ac5325.png">
									</span>
								<% } -%>
							</div>
						</a>
					<% } -%>
				</div>
			</section>
		</div>

		<%- include("partials/footer"); %>
		
		<script>
			let $searchBar = $("#content .search input");
			$searchBar.on("input", () => {
				let search = $searchBar.val().toLowerCase().replaceAll(/\s+/g, " ").trim();
				$("#content .article").each((i, e) => {
					if (!search || $(e).text().toLowerCase().includes(search)) {
						$(e).removeClass("hidden");
					} else {
						$(e).addClass("hidden");
					}
				});
			});
		</script>
	</body>
</html>